@use "colors";

.entry-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  .info-container {
    display: flex;
    align-items: center;
    gap: 20px;

    .name {
      display: flex;
      flex-direction: column;
      gap: 5px;

      .category {
        font-size: 12px;
      }
    }
  }

  .end-container {
    display: flex;
    gap: 40px;

    .icon {
      display: block;
      width: 30px;
      height: 30px;
      color: colors.$secondary-color;

      &:hover {
        color: colors.$primary-color;
        cursor: pointer;
      }
    }
  }
}
